#page {
  background: grey;
}

header {
  width: 100vw;  
  background: blue; 
}

main { 
  background: red; 
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

#reservation {
  position: relative; 
  width: 513px;
  margin-bottom: 20px;
  justify-content: center;
}

#reviews {
  position: relative;
  justify-content: center;
}

#photos {
  width: 1024px;
}


#modal {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
}